*, *::before, *::after {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  /* background-color: darkcyan; */
  background-color: #355070;
  padding : 0;
  margin : 0;
  display : flex;
  justify-content: center;
  align-items: center;
  width : 100vw;
  height : 100vh;
}

h1 {
  color: #f1c40f;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}

p {
  color: #f1c40f;
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  text-align: center;
}


.container {
    height:75vh;
    width:80vw;
    max-width: 900px;
    max-height: 900px;
    min-height: 785px;
    min-width: 700px;
    background-color: #2c3e50;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 1px;
}

/* .btn {
  border: 2px solid;
  border-radius: 50px;
  padding: 5px 10px;
	@@ -35,17 +56,61 @@ body {
  outline: none;
}
.btn:hover {
  background-color: greenyellow;
  color: white;
} 
/* .play-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
} */

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.main-btn {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.main-btn:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.play-btn {
  border-color: #2ecc71;
  color: #2ecc71;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.play-btn:hover {
  box-shadow: 0 0 40px 40px #2ecc71 inset;
}

/* .pause-btn {
  border-color: lightcoral;
  background-color: lightcoral;
  color: white;
}

.pause-btn:hover{
  background-color:lightsalmon;
  border-color: lightsalmon;
  color:lightcoral;
} */

.hide{
  display:none;
  padding: 0;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* width: 80%; */
}

/* .MainScreen {
  border: 3px solid blue;
} */

.main-screen {
  padding: 15rem 0;
}

/* .score-bar {
  padding: 15rem 0;
} */

.score {
  font-family: 'Roboto', sans-serif;
  float: right;
  padding: 0.3rem 1.8rem;
  font-weight: BOLD;
  font-size: x-large;
  color: #ffd166
}

.timer {
  font-family: 'Roboto', sans-serif;
  float: left;
  padding: 0.3rem 1.5rem;
  font-weight: BOLD;
  font-size: x-large;
  color: #EF476F;
}

.end-screen {
  padding: 9rem 0;
}

.GameScreen {
  border: 3px solid pink;
}

.GameOverScreen {
  border: 3px solid red;
}

.game {
  width: 700px;
  height: 720px;
  background-color: #192635;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
  /* box-shadow: 0 0 10px 1px; */
}

.hole {
  flex: 1 0 33.33%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #06d6a0;
}

.hole.up .mole {
  top: 0;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
/* .score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
} */

.controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
